@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <style>


        .container {
            text-align: center;
        }

        .message {
            font-size: 24px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .emoji {
            font-size: 48px;
        }
    </style>


    <div class="container">
        <div class="message">Üzgünüz, Bu sayfayı görme yetkiniz yok</div>
        <div class="emoji">😢</div>
    <div class="message">Eğer yetkili hesabınız var ise onunla tekrar giriş yapınız</div>
    </div>