@{
    ViewData["Title"] = "Yeni Üyelik";
}
<h4>Teşekkürler...</h4>
<p>
    Üyelik kaydınız oluşturulmuştur. Üyelik kaydınızın tamamlanabilmesi
    <a href="https://mailtrap.io/home">Mail</a> adresinize iletmiş olduğumuz link ile kaydınızı doğrulayınız.
</p>