@model ResetPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Parola Yenileme";
}



<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
            <div class="form-block mx-auto">
                <a class="navbar-brand d-flex flex-column  justify-content-center align-items-center" asp-area="" asp-controller="Home" asp-action="Index">

                    <img src="~/lib/images/logo.png" style="height:8rem;" alt="TEKNOMARKT" />
                </a>
                <hr />
                <div class="text-center mb-3">

                    <h3>@ViewData["Title"] </h3>
                </div>
                <form method="post" class="h-100">
                    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                        <div class="card shadow-sm" style="min-width: 30rem;">
                            <div class="card-body">
                                <label class="form-label" asp-for="UserName"></label>
                                <input class="form-control" asp-for="UserName" placeholder="e-posta adresinizi yazınız..." />
                                <span asp-validation-for="UserName"></span>
                            </div>

                            <hr />
                            <button type="submit" class="btn btn-primary">Gönder</button>
                            <p>&nbsp;</p>
                            @if (!ViewContext.ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            }
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}