
@{
    ViewData["Title"] = "Home Page";
    var carouselImages = ViewBag.CarouselImages as IList<TeknoMarketData.CarouselImage> ?? Enumerable.Empty<TeknoMarketData.CarouselImage>();
}

<style>
    #itemboxes {
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: 0;
    }

    .item-box {
        background-color: #f8f9fa; /* Grey background color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Dark shadow */
        margin-bottom: 20px;
        padding: 20px;
        max-width: 21rem;
        max-height:30rem;
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-image {
        max-width: 100%;
        height: auto;
    
    }

    .carousel{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Dark shadow */
    }
</style>

@if (carouselImages.Any())
{
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            @foreach (var carouselImage in carouselImages)
            {
                var isFirst = carouselImages.First() == carouselImage;
                <div class="carousel-item @(isFirst ? "active" : "")">
                    <img src="@carouselImage.Image" class="d-block w-100" alt="TeknoMarket">
                </div>
            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

else
{
    <p>No carousel images available.</p>
}


<hr />

<div class="fs-4 text-secondary py-2 border-bottom mb-3">Çok Satanlar</div>

<partial name="_ProductListPartial" model="ViewBag.BestSellers" />
<hr />