<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuasarShop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/fonts/themefisher-font/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/lib/css/style.css" rel="stylesheet" />
</head>
<body>
	<!-- Start Top Header Bar -->
	<section class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12 col-sm-4">
					<div class="contact-number">
						<i class="tf-ion-ios-telephone"></i>
						<span>0129- 12323-123123</span>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4">
					<!-- Site Logo -->
					<div class="logo text-center">
						<a  asp-area="" asp-controller="Home" asp-action="Index">

							<img src="~/lib/images/logo.png" style="height:10rem;" alt="TEKNOMARKT" />
						</a>
					</div>
				</div>

				<div class="col-md-4 col-xs-12 col-sm-4">
					<!-- Cart -->
					<ul class="top-menu text-right list-inline">
						<li class="dropdown cart-nav dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
								<i class="tf-ion-android-cart"></i>Cart
							</a>
							<div class="dropdown-menu cart-dropdown">
								<!-- Cart Item -->
								<div class="media">
									<a class="pull-left" href="#!">
										<img class="media-object" src="images/shop/cart/cart-1.jpg" alt="image" />
									</a>
									<div class="media-body">
										<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
										<div class="cart-price">
											<span>1 x</span>
											<span>1250.00</span>
										</div>
										<h5><strong>$1200</strong></h5>
									</div>
									<a href="#!" class="remove"><i class="tf-ion-close"></i></a>
								</div><!-- / Cart Item -->
								<!-- Cart Item -->
								<div class="media">
									<a class="pull-left" href="#!">
										<img class="media-object" src="images/shop/cart/cart-2.jpg" alt="image" />
									</a>
									<div class="media-body">
										<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
										<div class="cart-price">
											<span>1 x</span>
											<span>1250.00</span>
										</div>
										<h5><strong>$1200</strong></h5>
									</div>
									<a href="#!" class="remove"><i class="tf-ion-close"></i></a>
								</div><!-- / Cart Item -->

								<div class="cart-summary">
									<span>Total</span>
									<span class="total-price">$1799.00</span>
								</div>
								<ul class="text-center cart-buttons">
									<li><a href="cart.html" class="btn btn-small">View Cart</a></li>
									<li><a href="checkout.html" class="btn btn-small btn-solid-border">Checkout</a></li>
								</ul>
							</div>

						</li><!-- / Cart -->
						<!-- Search -->
						<li class="dropdown search dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
								<i class="tf-ion-ios-search-strong"></i> Search
							</a>
							<ul class="dropdown-menu search-dropdown">
								<li>
									<form action="post"><input type="search" class="form-control" placeholder="Search..."></form>
								</li>
							</ul>
						</li><!-- / Search -->
						<!-- Languages -->
						<li class="commonSelect">
							@if (!User.Identity.IsAuthenticated)
							{
								<ul class="navbar-nav">
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Giriş Yap veya Üye Ol
										</a>
										<ul class="dropdown-menu bg-dark">
											<li class="nav-item">
												<a class="dropdown-item text-light" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
											</li>
											<li>
												<a class="dropdown-item text-light" asp-area="" asp-controller="Account" asp-action="Register">Üye Ol</a>
											</li>
										</ul>
									</li>

								</ul>
							}
							@if (User.Identity.IsAuthenticated)
							{
								<ul class="navbar-nav">
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Hoş geldiniz Sn.

										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">
													<i class="bi bi-key"></i>
													Parola Değiştir
												</a>
											</li>
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
													<i class="bi bi-person-walking"></i> Çıkış
												</a>
											</li>
										</ul>
									</li>

								</ul>
							}

				</div>
						</li><!-- / Languages -->

					</ul><!-- / .nav .navbar-nav .navbar-right -->
				</div>
			</div>
		</div>
	</section><!-- End Top Header Bar -->
	<!-- Main Menu Section -->
	<section class="menu">
		<nav class="navbar navigation">
			<div class="container">
				<div class="navbar-header">
					<h2 class="menu-title">Main Menu</h2>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				</div><!-- / .navbar-header -->
				<!-- Navbar Links -->
				<div id="navbar" class="navbar-collapse collapse text-center">
					<ul class="nav navbar-nav">

						<!-- Home -->
						<li class="dropdown ">
							<a href="index.html">Home</a>
						</li><!-- / Home -->
						<!-- Elements -->
						<li class="dropdown dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							   role="button" aria-haspopup="true" aria-expanded="false">
								Shop <span class="tf-ion-ios-arrow-down"></span>
							</a>
							<div class="dropdown-menu">
								<div class="row">

									<!-- Basic -->
									<div class="col-lg-6 col-md-6 mb-sm-3">
										<ul>
											<li class="dropdown-header">Pages</li>
											<li role="separator" class="divider"></li>
											<li><a href="shop.html">Shop</a></li>
											<li><a href="checkout.html">Checkout</a></li>
											<li><a href="cart.html">Cart</a></li>
											<li><a href="pricing.html">Pricing</a></li>
											<li><a href="confirmation.html">Confirmation</a></li>

										</ul>
									</div>

									<!-- Layout -->
									<div class="col-lg-6 col-md-6 mb-sm-3">
										<ul>
											<li class="dropdown-header">Layout</li>
											<li role="separator" class="divider"></li>
											<li><a href="product-single.html">Product Details</a></li>
											<li><a href="shop-sidebar.html">Shop With Sidebar</a></li>

										</ul>
									</div>

								</div><!-- / .row -->
							</div><!-- / .dropdown-menu -->
						</li><!-- / Elements -->
						<!-- Pages -->
						<li class="dropdown full-width dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							   role="button" aria-haspopup="true" aria-expanded="false">
								Pages <span class="tf-ion-ios-arrow-down"></span>
							</a>
							<div class="dropdown-menu">
								<div class="row">

									<!-- Introduction -->
									<div class="col-sm-3 col-xs-12">
										<ul>
											<li class="dropdown-header">Introduction</li>
											<li role="separator" class="divider"></li>
											<li><a href="contact.html">Contact Us</a></li>
											<li><a href="about.html">About Us</a></li>
											<li><a href="404.html">404 Page</a></li>
											<li><a href="coming-soon.html">Coming Soon</a></li>
											<li><a href="faq.html">FAQ</a></li>
										</ul>
									</div>

									<!-- Contact -->
									<div class="col-sm-3 col-xs-12">
										<ul>
											<li class="dropdown-header">Dashboard</li>
											<li role="separator" class="divider"></li>
											<li><a href="dashboard.html">User Interface</a></li>
											<li><a href="order.html">Orders</a></li>
											<li><a href="address.html">Address</a></li>
											<li><a href="profile-details.html">Profile Details</a></li>
										</ul>
									</div>

									<!-- Utility -->
									<div class="col-sm-3 col-xs-12">
										<ul>
											<li class="dropdown-header">Utility</li>
											<li role="separator" class="divider"></li>
											<li><a href="login.html">Login Page</a></li>
											<li><a href="signin.html">Signin Page</a></li>
											<li><a href="forget-password.html">Forget Password</a></li>
										</ul>
									</div>

									<!-- Mega Menu -->
									<div class="col-sm-3 col-xs-12">
										<a href="shop.html">
											<img class="img-responsive" src="images/shop/header-img.jpg" alt="menu image" />
										</a>
									</div>
								</div><!-- / .row -->
							</div><!-- / .dropdown-menu -->
						</li><!-- / Pages -->
						<!-- Blog -->
						<li class="dropdown dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							   role="button" aria-haspopup="true" aria-expanded="false">
								Blog <span class="tf-ion-ios-arrow-down"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
								<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
								<li><a href="blog-full-width.html">Blog Full Width</a></li>
								<li><a href="blog-grid.html">Blog 2 Columns</a></li>
								<li><a href="blog-single.html">Blog Single</a></li>
							</ul>
						</li><!-- / Blog -->
						<!-- Shop -->
						<li class="dropdown dropdown-slide">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							   role="button" aria-haspopup="true" aria-expanded="false">
								Elements <span class="tf-ion-ios-arrow-down"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="typography.html">Typography</a></li>
								<li><a href="buttons.html">Buttons</a></li>
								<li><a href="alerts.html">Alerts</a></li>
							</ul>
						</li><!-- / Blog -->
					</ul><!-- / .nav .navbar-nav -->

				</div>
				<!--/.navbar-collapse -->
			</div><!-- / .container -->
		</nav>
	</section>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	


	<footer class="footer section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="social-media">
						<li>
							<a href="https://www.facebook.com/themefisher">
								<i class="tf-ion-social-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/themefisher">
								<i class="tf-ion-social-instagram"></i>
							</a>
						</li>
						
					</ul>
					<ul class="footer-menu text-uppercase">
						<li>
							<a href="contact.html">CONTACT</a>
						</li>
						
						<li>
							<a href="contact.html">PRIVACY POLICY</a>
						</li>
					</ul>
					<p class="copyright-text">@DateTime.Today.Year &copy; , Designed by <a href="#">Onur Gemici</a></p>
				</div>
			</div>
		</div>
	</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/js/js/script.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/lib/slick/slick-animation.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
