@model List<TeknoMarket.Models.UsersViewModel>

<h1>Kullanıcı Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Doğum Tarihi</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@(user.DateOfBirth.HasValue ? user.DateOfBirth.Value.ToShortDateString() : "-")</td>
            </tr>
        }
    </tbody>
</table>