@model List<TeknoMarket.Models.UsersViewModel>

<h1>Kullanıcı Listesi</h1>

<table class="table">
    <thead>
        <tr>

            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Adres</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.UserAddress</td>

            </tr>
        }
    </tbody>
</table>