<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container" style="text-align: center; padding: 20px; border: 2px solid #333; box-shadow: 5px 5px 10px #888; background-color: white; ">
        <img src="https://png.pngtree.com/png-clipart/20211017/original/pngtree-letter-e-logo-png-image_6854694.png" style="height: 6rem;" alt="house" />
        <h2>Merhaba {0},</h2>
        <p>Hesabınızı onaylamak için doğrulama butonuna tıklayın.</p>
        <a href="{1}" class="button" style="display: inline-block; padding: 10px 20px; background-color: #333; color: #fff; text-decoration: none; border: none; border-radius: 10px; cursor: pointer; font-size: 16px; transition: background-color 0.3s; ">Doğrula</a>
    </div>
    <div class="small py-3">
        2023 &copy; - Tüm hakları saklıdır. - Powered By Emlak Merkezi&trade;
    </div>
</body>
</html>

